@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "https://unpkg.com/open-props";


@import url('/css/playerjs.css');
@import url('/css/index.css');
@import url('/css/sermons.css');

html {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

a, a:active, a:hover, a:focus, a:link, a:any-link, a:visited {
    color: whitesmoke;
}