@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "https://unpkg.com/open-props";

@import url('/css/components/_components.css');
@import url('/css/layout/_layout.css');
@import url('/css/globals/_globals.css');

@import url('/css/playerjs.css');
@import url('/css/sermons.css');
@import url('/css/dynamic.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

html {
    /* overscroll-behavior: contain; */
    scroll-behavior: smooth;

    background-color: var(--bg-color);
}

body {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 50px auto 50px;
}

/* Styles for light mode */
:root {
    --bg-color: whitesmoke;
    --bg-color-2: white;
    --text-color: #0a142f;
}


