* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    position: sticky;
    background-color: blue;
}

main {
    flex-grow: 1;
    height: 200vh;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}
