.playerjs {
    width: 98%;
    height: 95%;
}

.socials {
    position: absolute;

    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.social-card {
    width: 30px;
    height: 30px;
}