.playerjs {
    width: 95%;
}

.socials {
    position: absolute;

    bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 80%;
}

.social-card {
    width: 30px;
    height: 30px;
}

