.container {
    display: flex;
    flex-direction: column;

    width: 85%;

}

/* IMAGE-TITLE */
.imageTitle {
    display: flex;
}

.imageTitle h3 {
    font-size: 30px;
}

.imageTitle img {
    width: 30px;
    height: 30px;
}
/* ICONS */
.icons {
    width: 20px;
    height: 20px;
}

.iconBox {
    display: flex;
}

/* Description */

.description{
    font-size: 15px;
}