@media screen and (min-width: 320px) {
    .svg-repo-max {
        width: 40%;
        height: auto;
    }

    .svg-repo-min {
        width: 6%;
        height: auto;
    }

    .svg-repo-mid {
        width: 60%;
        height: auto;
    }
    /* Durationo Buttons */

    .duration-buttons-numbers {
        opacity: 0.5;
    }
    .pause {
        
    }
}