@media screen and (min-width: 320px) {
    .texts {
        align-self: center;
        margin-top: 10px;

        height: 3vh;
        
    }

    .title, .subtitle,p {
        text-align: center;
        color: var(--DARK-BG-MAIN-COLOR);
    }
}