body {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 30px auto 30px;
}

header, footer {
    position: sticky;
    background-color: brown;
}

header {
    top: 0;
}

footer {
    bottom: 0;

    /* layout */

    display: flex;
    justify-content: space-evenly;
}

img {
    width: 10px;
}

