body {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 50px auto 50px;
}


/* MAIN stylying */

/* UNIVERSAL */

section {
    /* display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 15px; */
    /* margin-top: 15px;
    overflow-x: scroll; */
}

/* DYNAMIC CONTENT */

/* .dynamic-scroller {
    grid-auto-columns: 30%;
}

.scroller .dynamic-elements a img{
    aspect-ratio: 16/9;
    border-radius: 10px;
} */

/* FOOTER styling */